---
import qs from "qs";
import BlogLayout from "../../layouts/BlogLayout.astro";

let url = import.meta.env.STRAPI_URL + "/api/posts";

const query = qs.stringify({
	populate: {
		featuredImage: {
			fields: ["name", "width", "height", "url"],
		},
		author: {
			populate: {
				bioImage: {
					fields: ["name", "width", "height", "url"],
				},
			},
		},
		category: {
			populate: true,
		},
	},
});

const posts = await fetch(url + "?" + query)
	.then((response) => response.json())
	.catch((error) => console.error(error));
---

<BlogLayout title="All Posts">
	<main class="container mx-auto mt-8 px-4">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				posts.data.map((post: any) => {
					const headerImageUrl = post.featuredImage?.url || null;
					const authorImageUrl = post.author?.bioImage.url || null;
					return (
						<div class="bg-white rounded-lg shadow-md w-full hover:shadow-lg transition-shadow duration-200 mx-auto cursor-pointer overflow-hidden relative">
							{headerImageUrl && (
								<img
									src={headerImageUrl}
									alt="Article Header Image"
									class="w-full h-48 object-cover"
								/>
							)}
							<div class="p-4 pb-0">
								<h2 class="text-xl font-bold mb-2">
									{post.title}
								</h2>
								<p class="my-2 text-gray-700 line-clamp-3">{post.excerpt}</p>
								<p class="text-gray-600 text-sm">
									Published on:{" "}
									{new Date(
										post.publishedAt
									).toLocaleDateString()}
								</p>
							</div>
							<div class="flex justify-between my-4 mx-4 items-center">
								<div class="flex space-x-2 items-center overflow-hidden">
									{authorImageUrl && (
										<img
											src={authorImageUrl}
											alt={post.author?.name}
											class="inline-block h-8 w-8 rounded-full ring-2 ring-white"
										/>
									)}
									<p class="font-medium text-xs text-gray-600 cursor-pointer">
									{post.author?.name}
									</p>
								</div>
								<div class="inline-flex rounded-md">
									<a
										href={`/blog/${post.slug}`}
										class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-text hover:bg-text/90 transition-colors duration-200 before:absolute before:inset-0"
									>
										Read article
									</a>
								</div>
							</div>
						</div>
					);
				})
			}
		</div>
	</main>
</BlogLayout>
